html {
  scroll-behavior: smooth;
}

header {
  background-color: #f3e7cd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

/* Versión móvil: hasta 640px */
@media (max-width: 640px) {
  header {
    background-color: #f3e7cd;
    background-position: 60% center;
    /* desplaza la imagen hacia la izquierda */
    width: 100%;
  }
}
