@import 'tailwindcss';

/* index.css */
@theme {
  --color-blue: #0f4cba;
  --color-skyblue: #cee2f5;
  --color-orange: #ffa500;
  --color-coral: #ff6b6b;
  --color-accentorange: #f59e0b;
  --color-positivegreen: #10b981;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* Regular por defecto */
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Títulos */
h1,
h2 {
  font-weight: 700;
  /* Poppins Bold */
}

/* Subtítulos */
h3,
h4 {
  font-weight: 500;
  /* Poppins Semibold */
}

/* Descripciones */
p,
span,
li,
label {
  font-weight: 400;
  /* Poppins Regular */
}

/* O puedes usar Medium así si lo prefieres */
.descripcion {
  font-weight: 500;
  /* Poppins Medium */
}

/* Botones */
button {
  font-weight: 500;
  /* Poppins Bold */
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

/* Custom animations for Tailwind */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animation utilities */
.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delay-1 {
  animation: float 3s ease-in-out infinite;
  animation-delay: 1s;
}

.animate-float-delay-2 {
  animation: float 3s ease-in-out infinite;
  animation-delay: 2s;
}
